/*  Add your styling here */
body{
    font-family: Georgia, Times, serif;
    color: #333;
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin: 0%;
}
p{
    margin-bottom: 1.15rem;
    border: 1.5rem solid white;
}
h1{
    line-height: 1.3rem;
    font-size: 1.8rem;
    
}
#pier{
    border:1.5rem solid transparent;
    justify-content: space-around;
    padding: 10px;
    display: flex;
    background: cadetblue;
}

#pier button{
    background: black;
    color: cornsilk;
}


.container{
    width: 85%;
    max-width: 850px;
    margin: 0% auto;


}

.header{
   background: cadetblue;
  
   margin-right: 3%;
   margin-left: 1%;
}
.header a{
    color: white;
    text-decoration: none;
 }


.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.buton{
    padding-top: 4%;
     width: 0px;
}
#but-nav{
    background: white;
    font-size: 18px;
    font-weight: bold;
}




.tefo{
   padding-right: 80%;
   display: inline-block;
    
}
#tit-nav{
    padding-top: 4rem;
    text-align: center;
   
    
}

#tit-nav h1 {
float: left;
margin-left: 5.5rem;
background-color: darkslategrey;
color: white; 
margin-bottom: 1.8rem;
border: 10px solid #333;  
    
}




#list-nav{
justify-content: space-around;
background-color:whitesmoke;
}
.navigation{
    display: flexbox;
}
.navigation ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}
.navigation ul li {
 display: inline-block;
 justify-content: space-between;
}
.navigation ul li a  {
    display: block;
    padding: 0.5rem 5rem;
   }


ul li button{
font-family: "Source Sans Pro","Helvetica Neue",Arial,sans-serif;
    color:white;
    background-color: black;
    padding: 1% 5px;
    display: flex;
    font-size: 0.8rem;
    font-family: cursive;
    
}
.parafo{
    float: left;
    margin-right: 28rem;
        
}
.image-carousel img {
width:20.5rem;
position: absolute;

display: block;
margin-left: 45rem;
padding-top: 8rem;

    
    
}
.fotos-nav {
    display:flex;
    justify-content: space-between;
    padding: 10%;
}
#tef-nav{
    border-bottom: 2.5rem solid black;
}
 #pier #colo{
   background: black;
   color: black;
}


.cuardro{
    display:flex;
    justify-content: space-between;
    padding: 3%;
    width: 0.5rem;;
    position: absolute;
    top: 134%;
    margin-left: 50%;

    
 }
 
 #cuar {
     
     justify-content: space-around;
     margin-right: 1.5rem;
}
u{
    text-decoration: none;
   margin-left: 35%;
   color: tomato;
}
    